*{
    margin: 0 ;
    padding: 0;
    font-family: sans-serif ;
    box-sizing: border-box;
}

:root{
    --background-color : #fff;
    --text-color : #555;
    --title-color : #000;
    --theme-color: #ff7635;
}


.dark-theme{
    --background-color : #000;
    --text-color : #999;
    --title-color : #fff;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background 0.8s,color 0.8s;
}

header,.first{
    width : 100%;
    min-width: 100vh;
    padding: 0 8%;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.logo{
    text-decoration: none;
}

.rana{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: var(--title-color);
    width: 400px;
}

.rana span{
    color: var(--theme-color);
    font-family: 'League Spartan', sans-serif;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    margin: 5px 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}
.toggle-btn{
    background:var(--theme-color);
    color : #fff;
    display : flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width : 150px;
    height : 40px;
    border-radius : 20px;
    cursor : pointer ;
}

.toggle-btn img{
    width : 20px;
    margin-right: 10px;
}

.colorPicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height:33px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
}

.colorPicker::-webkit-color-swatch{
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

main{
    margin-top: 10%;
    max-width: 60%;
    padding-right: 2%;

}

main h1,h2{
    font-size: 70px;
    font-family: 'League Spartan', sans-serif;;
    color: var(--title-color);
    font-weight: 600;
}

main h2 span{
    font-style: italic;
    font-family:'League Spartan', sans-serif;
    font-weight: 300;
}

main p{
    font-family:'League Spartan', sans-serif;
    font-size: large;
}

.hire{
    background: var(--theme-color);
    color : #fff;
    display : inline-block;
    padding: 15px 70px;
    border-radius : 30px;
    cursor : pointer ;
    text-decoration: none;
    margin-top: 30px;
}

.first .svg1{
    width: 600px;
    display: block;
}

.first{
    margin-top: 80px;
    display: flex;
}

.second{
    margin-top: 200px; 
    height : 700px;   
    padding: 0 8%;
    display: flex;
    background-color: var(--theme-color);
    align-items: center;
}

.skill{ 
    position: absolute;
    width:40%;
    align-self: center; 
    text-align: center; 
    padding: 2%;
}

.skill h2{
    font-family: 'League Spartan', sans-serif;
    color: var(--theme-color);
    font-size: 100px;
}

.svg2{
    width:50%;
    height: 500px;
}

.container{
    margin-top: 100px;
}

.svg345{
    width: 60px;
}
.category{
    display:flex;
    margin-left:80px;   
    text-align: center;
    margin-top: 30px;
}

.category h2{
    font-size: 40px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    margin-left:30px;
    color:var(--background-color);
    margin-top: 8px;
}

.contact{
  background-color: var(--theme-color);
  margin-top: 100px;
}

.footer{
  color: #fff;
  background-color: #fff;
  width : 80%;
  border-top: 20px;
  border-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px ;
  margin: auto;
}

.filters button{
    display: inline-block;
    border: none;
    background:var(--theme-color);
    color : #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    width : 150px;
    height : 40px;
    border-radius : 20px;
}